@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=League+Spartan:wght@600&family=Lexend+Zetta&family=Sulphur+Point:wght@700&family=Quicksand:wght@600&display=swap');

body {
    position: relative;
}


.nav {
    text-align:center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(27, 27, 27);
    
}

.footer { 
    padding: 10px;
    width: 100%;
    text-align:center;
    position:fixed;
    bottom:0;
    background-image: linear-gradient( -150deg, rgb(152, 115, 154), rgb(76, 37, 97)) ;
    color:white;
    letter-spacing: 2px;
    font-size: 13px;

}

.footer a {
    color:white;
}

.footer a:hover {
    font-weight: 600;
}

.crown {
    width: 7%;
    height: auto;
    padding: 4px;
    justify-content: center;

}

.portrait {
    width: 36vh;
    border-radius: 50%;
    margin: 2%;
}

.font {
    font-family:'Lexend Zetta';
    margin: 5px;
    font-size:1.5vw;
}



a {
    color:rgb(16, 59, 104);
    text-decoration: none;

}


h1 {
    font-size: 13vw;
    font-family: 'League Spartan';
    line-height: 100%;
    letter-spacing: -3px;
    margin-bottom: 20px;
    
}

@media only screen and (max-width: 400px) {

    h1 {
       font-size: 7em;
    }

    .font {
        font-size: 0.75em;
    }
}



.computer {
    width:100%;
    height: auto;
}



.kate:after {
    content: 'kate';
}

.kate:hover:after {
    content: 'about';
    
    background-image: linear-gradient(
    225deg,

    #f6a572 0%,
    rgb(245, 166, 56) 15%,
    rgb(195, 86, 179) 60%,
    #ffb049 100%
    
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease infinite;
  display: inline-block;
}


.raki:after {
    content: 'rakonjac';
}

.raki:hover:after {
    content: 'projects';
    background-image: linear-gradient(
        225deg,

        #55b75b 0%,
        rgb(80, 183, 78) 15%,
        rgb(80, 223, 254) 60%,
        #59ae48 100%
        
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s ease infinite;
      display: inline-block;

}

.king:after {
    content: 'king';
}

.king:hover:after {
    content: 'contact';
    background-image: linear-gradient(
        225deg,

        #664798 0%,
        rgb(121, 73, 184) 15%,
        rgb(65, 16, 130) 60%,
        #7c4b9f 100%
        
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s ease infinite;
      display: inline-block;

    
}

figure {
    margin:0px;
}

figcaption {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 32%;
    color:white;
    font-size: 2vw;
    font-family: 'Lexend Zetta';
}

.about-me {
    position: inherit;
    display: flex;
    font-size: 2vh;
    font-family: 'Quicksand';
    margin: 0%;
    letter-spacing: 2.2px;
    text-align: center;
}

.title {
    font-family:'League Spartan';
    /* font-variant: all-small-caps; */
    font-size:4vh;
    color: gray;


}

.centered {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

}



.project-img {
    width:90%;
    margin: 15px;
    height:auto;
    /* border: 2px solid rgb(94, 197, 231); */
}

.project-img:hover {
    opacity:60%;
}



.blue-border {
    border: 20px solid rgb(75, 195, 206);
}

.pink-border {
    border: 20px solid rgb(234, 89, 188);
}

.green-border {
    border: 20px solid rgb(142, 219, 79);
}

.orange-border {
    border: 20px solid rgb(248, 156, 75);
}

.contact-img {
    width: 25%;
    height: auto;
    margin: 1.7%;
}


form {
    padding: 10px;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'Arial';
    letter-spacing: 2px;
    
}


.submit-btn {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-style:solid;
    border-color: black;
    border-width:1px;
    padding: 1%;

}

.txt-field {
    width: 50%;
    margin-bottom: 2%;
    border-style:solid;
    border-radius:none;
    border-color:black;
    border-width:1px;
}




.container {
    position: relative;
    
}

.back-arrow {
    padding: 10px;
    width: 60px;
    height: auto;
    position:absolute;
    bottom:0;
    display:flex;
}



@keyframes textclip {
  to {
    background-position: 150% center;
  }
}


.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 4s steps(60, end),
      blink-caret 1s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

 






