@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Lavishly+Yours&family=League+Spartan:wght@600&family=Lexend+Zetta&family=Sulphur+Point:wght@700&family=Quicksand:wght@600&family=Playfair+Display&family=Montserrat:wght@400&display=swap');

body {
    position: relative;
}


.nav {
    text-align:center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(27, 27, 27);
    
}

.footer { 
    padding: 10px;
    width: 100%;
    text-align:center;
    position:fixed;
    bottom:0;
    background-image: linear-gradient( -150deg, rgb(152, 115, 154), rgb(76, 37, 97)) ;
    color:white;
    letter-spacing: 2px;
    font-size: 13px;

}

.footer a {
    color:white;
}

.footer a:hover {
    font-weight: 600;
}

.crown {
    width: 7%;
    height: auto;
    padding: 4px;
    justify-content: center;

}

.portrait {
    width: 50%;
    border-radius: 50%;
    /* margin: 2%; */
}

.flowers {
    width:35%;
    opacity:35%;
    text-align:center;
    align-items: center;
    
}
.fl {
    margin-top:15vh;
    padding-bottom:2%;
}

.fl-left {
    margin-right:2rem;
    margin-left:1.3rem;
}

.fl-right {
    margin-left:2rem;
}

.font {
    font-family:'Lexend Zetta';
    margin: 5px;
    font-size:1.5vw;
}



a {
    color:rgb(16, 59, 104);
    text-decoration: none;

}


h1 {
    font-size: 13vw;
    font-family: 'League Spartan';
    line-height: 100%;
    letter-spacing: -3px;
    margin-bottom: 20px;
    
}

@media only screen and (max-width: 400px) {

    h1 {
       font-size: 7em;
    }

    .font {
        font-size: 0.75em;
    }
}



.computer {
    width:100%;
    height: auto;
}

#home-bkgrd {
    /* background-image:
        linear-gradient(#87bfb6, transparent),
        linear-gradient(to top, #1e3046, transparent),
        linear-gradient(to bottom left, #6c4e72, transparent),
        linear-gradient(to bottom right, #b07683); */


    background-image: linear-gradient(
        225deg,

        #664798 0%,
        rgb(121, 73, 184) 15%,
        rgb(65, 16, 130) 60%,
        #7c4b9f 100%
        
      );
      /* background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; */
      animation: textclip 5s ease infinite;
      /* display: inline-block; */

}

.kate:after {
    content: 'kate';
}

.kate:hover:after {
    content: 'about';
    
    background-image: linear-gradient(
    225deg,

    #f6a572 0%,
    rgb(245, 166, 56) 15%,
    rgb(195, 86, 179) 60%,
    #ffb049 100%
    
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease infinite;
  display: inline-block;
}


.raki:after {
    content: 'rakonjac';
}

.raki:hover:after {
    content: 'projects';
    background-image: linear-gradient(
        225deg,

        #55b75b 0%,
        rgb(80, 183, 78) 15%,
        rgb(80, 223, 254) 60%,
        #59ae48 100%
        
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s ease infinite;
      display: inline-block;

}

.king:after {
    content: 'king';
}

.king:hover:after {
    content: 'contact';
    background-image: linear-gradient(
        225deg,

        #664798 0%,
        rgb(121, 73, 184) 15%,
        rgb(65, 16, 130) 60%,
        #7c4b9f 100%
        
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s ease infinite;
      display: inline-block;

    
}


.home {
    width: 100%;
    position: absolute;
    bottom: 7rem;
    text-align:right;
    /* left: 25%; */
    color:white;
    font-size: 4vw;
    font-weight:bold;
    /* letter-spacing:0.1em; */
    font-family: 'Montserrat';
}

.overlay {
    width: 100%;
    position: absolute;
    top:5vh;
}


.about-me {
    position: inherit;
    display: flex;
    font-size: 2.2vh;
    font-family: 'Montserrat';
    /* font-style: italic; */
    margin-left:2rem;
    padding-top:2rem;
    /* letter-spacing: 1.5px; */
    text-align: center;
}

.project-name {
    font-family:'League Spartan';
    font-size:8vh;
    font-weight: bold;
}

.title {
    font-family:'League Spartan';
    /* font-variant: all-small-caps; */
    font-size:4vh;
    color: gray;


}

.centered {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

}

.scroll {
    /* padding-top:20%; */
    overflow-x:scroll;
    white-space: nowrap;
}

.p-img {
    width:100%;
    height:auto;
    display:block;
    position:relative;
    overflow:hidden;
    margin:0;
}

.project-img {
    width:90%;
    height:auto;

}

.overlay1 {
    position:absolute;
    background-image:linear-gradient(5deg, rgba(11, 14, 26, 0.709), rgba(9, 13, 35, 0.323)
    );
    top: 0;
    bottom:7.5%;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    transition: ease 0.5s;
    opacity:0%;
}

.p-img:hover .overlay1 {
    opacity:1;
}

.p-img:hover .project-img {
    transform: scale(1.15);
}

.projects {
    width: 100%;
    position: absolute;
    bottom: 4rem;
    opacity: 0%;
}

.p-img:hover .projects {
    opacity: 100%;
    transition:opacity 0.5s;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-family: 'Montserrat';  
}

.project-desc {
    font-size: 2.2vh;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-family: 'Montserrat';
    opacity:1;

}


.blue-border {
    border: 20px solid rgb(75, 195, 206);
}

.pink-border {
    border: 20px solid rgb(234, 89, 188);
}

.green-border {
    border: 20px solid rgb(142, 219, 79);
}

.orange-border {
    border: 20px solid rgb(248, 156, 75);
}

.contact-img {
    width: 25%;
    height: auto;
    margin: 1.7%;
}


form {
    padding: 10px;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'Arial';
    letter-spacing: 2px;
    
}


.submit-btn {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-style:solid;
    border-color: black;
    border-width:1px;
    padding: 1%;

}

.txt-field {
    width: 50%;
    margin-bottom: 2%;
    border-style:solid;
    border-radius:none;
    border-color:black;
    border-width:1px;
}




.container {
    position: relative;
    
}

/* .back-arrow {
    padding: 10px;
    width: 60px;
    height: auto;
    position:absolute;
    bottom:0;
    display:flex;
} */



@keyframes textclip {
  to {
    background-position: 150% center;
  }
}


.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 4s steps(60, end),
      blink-caret 1s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

 






