@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=League+Spartan:wght@600&family=Lexend+Zetta&family=Sulphur+Point:wght@700&display=swap');

.nav {
    text-align:center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(27, 27, 27);
    
}

.footer { 
    padding: 10px;
    width: 100%;
    text-align:center;
    position:absolute;
    background-color: rgb(154, 96, 188);
    color:white;
    letter-spacing: 2px;
    font-size: 13px;

}

.footer a {
    color:white;
}

.footer a:hover {
    font-weight: 600;
}

.crown {
    width: 7%;
    height: auto;
    padding: 4px;
    justify-content: center;

}

.portrait {
    width: 100%;
    float:right;
    
}

.font {
    font-family:'Lexend Zetta';
    margin: 5px;
}



a {
    color:black;
    text-decoration: none;

}


h1 {
    font-size: 13vw;
    font-family: 'League Spartan';
    line-height: 100%;
    letter-spacing: -3px;
    margin-bottom: 20px;
    
}


.computer {
    width:100%;
    height: auto;
}



.kate:after {
    content: 'kate';
}

.kate:hover:after {
    content: 'about';
    
    background-image: linear-gradient(
    225deg,

    #f6a572 0%,
    rgb(245, 166, 56) 15%,
    rgb(245, 59, 217) 60%,
    #ffb049 100%
    
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 300% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease infinite;
  display: inline-block;
}


.raki:after {
    content: 'rakonjac';
}

.raki:hover:after {
    content: 'projects';
    background-image: linear-gradient(
        225deg,

        #68f5a7 0%,
        rgb(98, 232, 95) 15%,
        rgb(80, 223, 254) 60%,
        #75f344 100%
        
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s ease infinite;
      display: inline-block;

}

.king:after {
    content: 'king';
}

.king:hover:after {
    content: 'contact';
    background-image: linear-gradient(
        225deg,

        #4f1ca1 0%,
        rgb(121, 73, 184) 15%,
        rgb(40, 18, 182) 60%,
        #7c1ac2 100%
        
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 300% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 5s ease infinite;
      display: inline-block;

    
}
figure {
    margin:0px;
}

figcaption {
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 32%;
    color:white;
    font-size: 2vw;
    font-family: 'Lexend Zetta';
}

.about-me {
    
    font-size: 50px;
    font-family: 'League Spartan';
    margin: 5%;
    letter-spacing: 3px;
}

.centered {
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

}
.project-img {
    width:650px;
    margin: 10px;
    height:auto;
    border: 50px solid rgb(94, 197, 231);
}

.project-img:hover {
    opacity:60%;
}

.blue-border {
    border: 50px solid rgb(75, 195, 206);
}

.pink-border {
    border: 50px solid rgb(234, 89, 188);
}

.green-border {
    border: 50px solid rgb(90, 192, 89);
}

.orange-border {
    border: 50px solid rgb(248, 156, 75);
}

.contact-img {
    width: 200px;
    height: auto;
    margin: 30px;
}


form {
    padding: 10px;
    margin: 10%;
}

.back-arrow {
    padding: 10px;
    width: 60px;
    height: auto;
}



@keyframes textclip {
  to {
    background-position: 150% center;
  }
}




.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 4s steps(60, end),
      blink-caret 1s step-end infinite;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */






